.input(:class="states")
  label(:for="'input' + _uid").input__label
    slot
  .input__wrapper
    block before
      .input__before(v-if="$slots.before")
        slot(name="before")
    input(:id="'input' + _uid").input__control(
      :required="required",
      :disabled="disabled",
      :pattern="pattern",
      :placeholder="placeholder",
      :type="type",
      :minlength="minlength",
      :maxlength="maxlength",
      @blur="focus = false",
      @focus="focus = true",
      @invalid="checkValidity",
      @input="input",
      ref = "input"
      )
    block after
      .input__after(v-if="$slots.after")
        slot(name="after")
