.textarea(:class="states")
  label.textarea__label(v-if="$slots.default", :for="'textarea' + _uid")
    slot
  .textarea__wrapper
    block before
      .textarea__before(v-if="$slots.before")
        slot(name="before")
    block textarea
      textarea.textarea__control(
        v-bind = "$attrs",
        ref = "control"
        :id="'textarea' + _uid"
        :value = "value",
        :customOutput = "customOutput",
        :disabled = "disabled",
        @focus = "focusUpdate",
        @blur = "focusUpdate",
        @invalid = "validate",
        @input = "input",
        )
    block after
      .textarea__after(v-if="$slots.after")
        slot(name="after")
  .textarea__error(v-if="customOutput && message") {{ message }}
