.select
  .select__label(tabindex="-1", @focusin.self = "moveFocus")
    slot
    .select__wrapper(tabindex="0", ref = "select", @click = "open", @blur = "close")
      .select__option {{ selected }}
      .select__dropdown(v-if = "isShown")
        template(v-for = "option in options")
          .select__option(:class = "className(option)",
            @click.stop = "select(option.value)",)
            | {{ option.name }}
