.select(:class = "classes")
  .select__label(@click = "focusMove")
    slot
  .select__wrapper(
    :tabindex="disabled ? -1 : 0",
    ref = "control",
    @focus = "focusUpdate"
    @blur = "focusUpdate",
    @click = "toggle",
    @keydown.esc.prevent = "close",
    @keydown.space.prevent = "select(focusValue)",
    @keydown.enter.prevent = "select(focusValue)",
    @keydown.alt.up.prevent = "pickFirst",
    @keydown.alt.down.prevent = "pickLast",
    @keydown.up.exact.prevent = "pickPrev",
    @keydown.down.exact.prevent = "pickNext",
    )
    .select__value 
      block value
        | {{ selected }}
        block arrow
    .select__dropdown(v-show = "opened")
      template(v-for = "option in options")
        .select__option(
          :class = `{
            'select--option-selected': option.value === value,
            'select--option-focused': option.value === focusValue
          }`,
          @click.stop = "select(option.value)",
          @mouseenter = "focusValue = option.value")
          | {{ option.name }}
