.select
  .select__label(tabindex="1", @focusin.self = "moveFocus", :class = "classes")
    slot
    .select__wrapper(tabindex="0",
      ref = "select",
      @blur = "close",
      @click = "open",
      @keydown.27 = "close",
      @keydown.32 = "select(focused)",
      @keydown.13.prevent = "select(focused)",
      @keydown.alt.38.prevent = "pickFirst",
      @keydown.alt.40.prevent = "pickLast",
      @keydown.38.exact.prevent = "moveUp",
      @keydown.40.exact.prevent = "moveDown",
      )
      .select__value {{ selected }}
      .select__dropdown(v-if = "isOpen")
        template(v-for = "option in options")
          .option(
            :class = `{
              'option--selected': option.value === value,
              'option--focused': option.value === focused
            }`,
            @click.stop = "select(option.value)",
            @mouseenter = "focused = option.value")
            | {{ option.name }}
