.select
  .select__label(@click = "moveFocus", :class = "classes")
    slot
  .select__wrapper(tabindex="0",
    ref = "control",
    @blur = "close",
    @click = "open",
    @keydown.esc.prevent = "close",
    @keydown.space.prevent = "select(focus)",
    @keydown.enter.prevent = "select(focus)",
    @keydown.alt.up.prevent = "pickFirst",
    @keydown.alt.down.prevent = "pickLast",
    @keydown.up.exact.prevent = "pickPrev",
    @keydown.down.exact.prevent = "pickNext",
    )
    .select__value {{ selected }}
    .select__dropdown(v-show = "opened")
      template(v-for = "option in options")
        .select__option(
          :class = `{
            'select--option-selected': option.value === value,
            'select--option-focused': option.value === focus
          }`,
          @click.stop = "select(option.value)",
          @mouseenter = "focus = option.value")
          | {{ option.name }}
