transition(duration = "200",
  enter-class = "progress--transparent",
  leave-to-class = "progress--transparent")
  .progress(v-if = "value")
    block circle
      .progress__circle
        .progress__counter
          template(v-if = "value") {{ value }}
