transition(duration="200",
enter-active-class="popup--fade",
leave-active-class="popup--fade",
enter-class="popup--hidden",
leave-to-class="popup--hidden")
  .popup(@click.self="close(popup.prevent)", v-if = "Object.keys(popup).length")
    .popup__container
      .popup__header
        span {{ popup.header }}
        v-button(v-if = "headerClose", @click = "close()") X
      .popup__body
        slot
      .popup__footer(ref="footer")
        v-button.popup__button(@click = "close()") Отменить
        slot(name = "actions")
