.popup(
  tabindex = "-1",
  @click.self = "closeBackground",
  @keydown.esc.prevent.stop = "closeEsc",
  )
  .popup__container
    block header
      .popup__header(v-if = "$slots.header")
        slot(name = "header")
    .popup__body
      block body
        slot
    block footer
      .popup__footer(v-if = "$slots.footer")
        slot(name = "footer")
